body		{
		background-image:url('Goldengate.png');
		background-size:1280px 1024px;
		background-repeat:no-repeat;
		}


#sideBar	{
		height: 480px;
		width: 130px;
		margin-left: 25px;
		padding-top: 100px;
		background-color: rgba(255, 255, 255, 0.8);
		}
		
#header		{
		width: 600px;
		height: 80px;
		margin-left: 192px;
		padding-left: 30px;
		background-color: rgba(255, 255, 255, 0.8);
		}

.menuItems	{
		margin-bottom: 40px;
		}
		
#contentArea	{
		position: absolute;
		top: 190px;
		left: 200px;
		height: 400px;
		width: 600px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: rgba(255, 255, 255, 0.8);
		}

#contentArea p	{
		line-height: 125%;
		}

#num		{
		color: blue;
		}

#footnote	{
		font-size: 70%;
		}
		
#infoArea	{
		padding-left: 30px;
		padding-top: 30px;
		height: 180px;
		width: 500px;
		position: absolute;
		top: 450px;
		left: 260px;
		background-color: white;
		}